AccessModifierOffset: -4
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveAssignments: Consecutive
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: false
AlwaysBreakAfterDefinitionReturnType: All
AlwaysBreakAfterReturnType: All
AllowBreakBeforeNoexceptSpecifier: Always
AlwaysBreakTemplateDeclarations: Yes
BinPackArguments: false
BinPackParameters: false
BreakAfterAttributes: Always
BreakBeforeBraces: Allman
BreakConstructorInitializers: BeforeColon
ColumnLimit: 90
FixNamespaceComments: true
IndentPPDirectives: AfterHash
IndentWidth: 4
InsertBraces: true
InsertTrailingCommas: Wrapped
NamespaceIndentation: None
PPIndentWidth: 4
PackConstructorInitializers: Never
RemoveSemicolon: true
SortIncludes: CaseInsensitive
TabWidth: 4
UseTab: Never